:root {
  /*==== COLORS ====*/
  --primary: #042932;
  --secondary: #CCDF5C;
  --secondary-rgb: 204, 223, 92;
  --light: #ffffff;
  --light-dark: #F7FAFA;
  --gray: #8D94A2;

  /*===== TYPOGRAPHY ====*/
  --normal-font-size: 1rem;
  --normal-font-weight: 300;

  /*==== SIZES ====*/
  --container-size-xl: 1440px;
  --container-size-lg: 1024px;
  --container-size-md: 768px;
  --container-size-sm: 640px;
  --navbar-height: 110px;
}
