@import './variables';
@import './functions';
@import './typography';
@import './breakpoints';

html {
  font-size: 1rem;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: var(--light);
  color: var(--primary);
  font-weight: 400;
  overflow-x: hidden;
}

p {
  line-height: 1.6rem;
}

.container {
  max-width: var(--container-size-sm);
  margin: 0 auto;
  padding: 0rem;
  position: relative;

  @include  md{

  padding: 0 3rem;
    max-width: var(--container-size-md);
  }

  @include  lg{
    max-width: var(--container-size-lg);
  }

  @include  xl{
    max-width: var(--container-size-xl);
  }
}

.flex {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  &.justify-content-between {
    justify-content: space-between;
  }

  &.justify-content-center {
    justify-content: center;
  }

  &.justify-content-end {
    justify-content: flex-end;
  }
}

.footer {
  position: relative;

  @include lg {
    position: absolute;
    bottom: 0;
  }

  @include  lg{
    width: 100%;
    max-width: var(--container-size-lg);
  }

  @include  xl{
    width: 100%;
    max-width: var(--container-size-xl);
  }

  .column {
    display: block;
    text-align: center;
    @include md {
      display: flex;
      justify-content: space-between;
    }
  }
}

.header {
  position: relative;

  @include lg {
    position: absolute;
    top: 0;
  }

  @include  lg{
    width: 100%;
    max-width: var(--container-size-lg);
  }

  @include  xl{
    width: 100%;
    max-width: var(--container-size-xl);
  }
}
